<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.Coupon_holdMapper">

<insert id="insertCoupon_hold">
insert into coupon_hold
	(USER_ID, COUPON_CODE, COUPONHOLD_USE_AT)
values (#{user_id}, #{coupon_code}, #{couponhold_use_at})
</insert>


<!-- <update id="">
</update>

<delete id="" >
</delete>

<select id="" resultType="">
</select> -->

</mapper>