<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.Detail_categoryMapper">

<insert id="insertDetail_category">
insert into DETAIL_CATEGORY
	(LCLASCTGRY_CODE, DETAILCTGRY_NM, DETAILCTGRY_COLOR)
values (#{lclasctgry_code} #{detailctgry_nm}, #{detailctgry_color})
</insert>

<update id="">
</update>

<delete id="" >
</delete>

<select id="" resultType="">
</select>

</mapper>