<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.GoodsMapper">

<insert id="insertGoods">
insert into GOODS
	(GOODS_NM, GOODS_PC, GOODS_DC, DETAILCTGRY_CODE)
values (#{goods_nm}, #{goods_pc}, #{goods_dc}, #{detailctgry_code})
</insert>

<select id="selectGoodsList" resultType="GoodsVO">
select
	*
from
	GOODS
</select>

<!-- <update id="">
</update>

<delete id="" >
</delete>

<select id="" resultType="">
</select>
 -->
</mapper>