<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.SalesMapper">

	<resultMap id="yearSales" type="java.util.HashMap">
		<result property="totalPrice" column="totalPrice" />
	</resultMap>

	<select id="yearSales" resultType="java.util.HashMap">
		select sum(pl.amount *
		p.product_price) as totalPrice
		from product p, bill b, purchaseList pl
		where p.product_id = pl.product_id AND b.b_id = pl.b_id and (b.publish_date
		like concat(#{year}, '%') or b.publish_date like concat(#{year}-1, '%') or
		b.publish_date like concat(#{year}-2, '%'))
		group by year(b.publish_date)

	</select>
</mapper>