<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.Tile_locationMapper">

<insert id="insertTile_location">
insert into TILE_LOCATION
	(DRW_CODE, TILE_CODE, TILELC_CRDNT_X, TILELC_CRDNT_Y, TILELC_HG, TILELC_AR)
values (#{drw_code}, #{tile_code}, #{tilelc_crdnt_x}, #{tilelc_crdnt_y}, #{tilelc_hg}, #{tilelc_ar})
</insert>

<update id="">
</update>

<delete id="" >
</delete>

<select id="" resultType="">
</select>

</mapper>