<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yjc.wdb.mapper.SalesMapper">

	<resultMap id="yearSales" type="java.util.HashMap">
		<result property="year" column="year" />
		<result property="totalPrice" column="totalPrice" />
	</resultMap>
	
	<resultMap id="daySales" type="java.util.HashMap">
		<result property="publish_date" column="publish_date" />
		<result property="totalPrice" column="totalPrice" />

	</resultMap>

	<select id="yearSales" resultMap="yearSales">
		select
		date_format((b.publish_date), '%Y') as year, sum(pl.amount *
		p.product_price) as totalPrice
		from product p, bill b, purchaseList pl
		where p.product_id = pl.product_id AND b.b_id = pl.b_id and
		(b.publish_date
		like concat(#{year}, '%') or b.publish_date like
		concat(#{year}-1, '%') or
		b.publish_date like concat(#{year}-2, '%'))
		group by date_format((b.publish_date), '%Y')


	</select>

	<select id="daySales" resultMap="daySales">
		<![CDATA[
		select b.publish_date
		as publish_date, sum(pl.amount * p.product_price) as
		totalPrice from
		product
		p, bill b, purchaseList pl where p.product_id =
		pl.product_id AND b.b_id
		= pl.b_id and (b.publish_date <= curDate() and
		b.publish_date >=
		subDate(curDate(),
		Interval 7 DAY)) group by
		b.publish_date;
		]]>
	</select>
</mapper>